/* todos os elementos da pagina */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
}

a {
    color: black
}

/* imports de fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* CSS do Header e da foto de fundo grande com a frase*/
#image-background {
    background-image: url(./images/personal.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#redes-sociais {
    width: 50%;
    display: flex;
    justify-content: end;
}

#redes-sociais i {
    color: white;
    font-size: 23px;
    cursor: pointer;
    margin-left: 3rem;
}
#div-logo img {
    height: 100px;
    width: 100px;
}

#Menu {
    background-color: #000000c7;
    display: flex;
    align-items: center;
    padding: 0 50px 0 50px;
    justify-content: space-between;
}

#div-text {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
}

#div-left {
    width: 100%;
    height: 90vh;
}

#div-right {
    width: 100%;
    height: 90vh;
}

#right-frase {
    display: grid;
    margin-top: 30vh;
    width: 80%;
}

#botao-compra {
    width: 25%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #2d2885;
    cursor: pointer;
}

#link-botao {
    color: rgba(255, 255, 255, 0.891);
    text-decoration: none;
    font-size: 16px;
}

#div-botao {
    display: flex;
    margin-top: 10px;
}

#conheca-frase {
    color: white;
}

#resultados {
    color: white;
}

/* CSS das frases falando que essa onsultoia é destinada a x pessoas */

#container-frase-pessoa {
    background-color: rgb(216, 216, 216);
}
#container-para-pessoas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
#frase-protocolo {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    padding-top: 1rem;
}
.para-frase {
    flex-basis: 30%; /* Isso fará com que três divs caibam em uma linha */
    height: 100px; /* Espaço entre as linhas */
}
.para-frase p{
    color:black;
}

/* CSS sobre mim, vai ter a foto e um texto falando sobre ele */

#div-foto-texto {
    display: flex;
    flex-wrap: wrap;
}

#div-foto {
    flex: 50%;
    display: flex;
    justify-content: end;
}

#foto-profissional {
    margin-right: 0px;
    height: 22rem;
    width: 22rem;
    /* quando a foto está muito grande dos lados da tela fica um espaço em branco diminuir a foto comforme os pixels diminumem */
    border-radius: 180px;
    margin-right: 50px;
}

#div-texto-sobre-mim {
    flex: 50%;
}

#div-sobre-mim {
    padding: 50px;
    font-size: 20px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.685);
}

#div-quem-sou-eu {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

#div-quem-sou-eu h1 {
    color: white;
}

#div-nome {
    margin-bottom: 1.5rem;
}

#div-sobre-mim-span span {
    color: white;
}

#div-nome h2 {
    color: white;
}

#botao-whatsap {
    border: none;
    background-color: #2d2885;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    transition: transform 0.3s;
}

#botao-whatsap:hover {
    transform: scale(1.1);
}

#div-botao-whatsap {
    margin-top: 10px;
}

/* Container de textp com fotos antes e depois*/

#container-fotos-antes-depois {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.fotos {
    height: 300px;
    width: 300px;
    transition: transform 0.3s;
}

#container {
    padding-top: 50px;
    display: grid;
    background-color: black;

}

#container h1,
p {
    color: white;
}

#div-frase-time {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

#div-motivacao {
    display: flex;
    justify-content: center;
}

#div-frase-corpo {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
}

#traço-branco {
    background-color: white;
    width: 60px;
    height: 8px;
    transition: width 2s;
    margin-bottom: 1.5rem;
}

#div-traço-branco {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.fotos:hover {
    transform: scale(1.1);
    /* Aumenta o tamanho da imagem em 10% quando o mouse passa sobre ela */
}

.div-image {
    padding-bottom: 25px;
}

/* Container com videos */
#container-frase-videos {
    background-color: rgb(216, 216, 216);
    padding-bottom: 30px;
}

#container-videos div {
    display: flex;
    justify-content: space-evenly;
}

#div-videos {
    display: flex;
    flex-wrap: wrap;

}

#div-frase-projeto {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#div-frase-projeto h1 {
    color: #000000;
    font-size: 50px;
}

#frase-treino-foco {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#frase-treino-foco h1 {
    color: #000000;
    font-size: 25px;
}

/* sobre o produto */
#container-como-funciona {
    display: flex;
    justify-content: space-around;
}

.cards-como-funciona {
    width: 200px;
    margin: 10px;
}

.cards-como-funciona span {
    font-size: 20px;
}

#container-como-funciona {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.icone {
    display: flex;
    justify-content: center;
}

.div-texto-como-funciona {
    padding-bottom: 60px;
}

#div-titulo {
    padding-top: 20px;
}

#div-sobre-profuto {
    padding-bottom: 20px;
}

#div-titulo,
#div-sobre-profuto {
    display: flex;
    justify-content: center;
}

#container-dentro-aplicativo {
    background-color: rgb(216, 216, 216);
}

#container-dentro-aplicativo h1,
h2,
span {
    color: black;
}

/* Footer */
footer {
    background-color: black;
    padding: 25px;
}

#footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#footer h1,
#footer h2,
#footer h3,
#footer i,
#footer span,
#footer a {
    color: white;
}

#socias {
    display: grid;
}

#socias a {
    font-size: 20px;
    margin-top: 10px;
}

#socias span {
    margin-left: 10px;
}

#frases-serviços {
    display: grid;
}

#frases-serviços span {
    margin-top: 20px;
}

#div-sobre-mim-footer {
    padding-bottom: 15px;
}

#div-footer-email {
    margin-top: 1.5rem;
}

#a-footer-email {
    font-size: 20px;
}

/* Responsividade */

/* Estilos para Notebooks e desktops */

@media screen and (min-width: 1281px) {
    #footer {
        display: flex;
        align-items: baseline;
    }

    #div-footer-texto-sobre-mim {
        font-size: 20px;
    }

    #frases-serviços span {
        font-size: 20px;
    }

}

/* Estilos para tablets */
@media screen and (min-width: 300px) and (max-width: 1280px) {
    #resultados {
        font-size: 34px;
    }
    #conheca-frase {
        font-size: 20px;
    }

    .fotos:hover {
        transform: none;
    }

    #Menu {
        padding: 0 20px 0 20px;
    }

    #foto-profissional {
        display: flex;
        height: 19rem;
        width: 19rem;
        margin-right: 0;
    }

    #div-foto {
        display: flex;
        justify-content: center;
    }

    #div-videos video {
        padding-top: 30px;
    }

    #div-frase-projeto h1 {
        font-size: 1.8rem !important;
        padding-bottom: 0.8rem;
    }

    #frase-treino-foco h1 {
        font-size: 1.2rem !important;
    }

    #botao-compra {
        width: 8rem;
    }

    #footer {
        display: flex;
        align-items: baseline;
    }
}

/* Estilos para celulares */
@media screen and (max-width: 585px) {
    #frase-protocolo h1{
        font-size: 17px !important;
    }
    #redes-sociais i {
        margin-left: 1.5rem;
    }

    #div-foto-texto {
        display: grid;
    }

    #foto-profissional {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    #footer {
        display: grid;
    }

    #right-frase {
        padding-right: 1.2rem;
        margin-top: 25vh;
    }

    #div-frase-time h1 {
        font-size: 1.8rem;
    }

    #div-motivacao h1 {
        font-size: 1.4rem;
    }

    #div-frase-corpo span {
        font-size: 1.1rem;
        color: white;
    }

    #div-frase-projeto h1 {
        font-size: 1.8rem !important;
    }

    #frase-treino-foco h1 {
        font-size: 1rem !important;
    }

    #div-foto img {
        height: 13rem;
    }

    #div-sobre-profuto h2 {
        font-size: 1.05rem;
    }

    #div-footer-texto-sobre-mim {
        font-size: 16px;
    }

    #botao-compra {
        width: 8rem;
    }
}

@media screen and (max-width: 439px) {
    #frase-protocolo h1{
        font-size: 15px !important;
    }
    #container-como-funciona>.cards-como-funciona:nth-child(2) {
        padding-top: 30px;
        height: 400px;
    }

    #container-como-funciona>.cards-como-funciona:nth-child(3) {
        padding-top: 30px;
        height: 400px;
    }

    .cards-como-funciona:last-child {
        padding-top: 0px !important;
        height: 400px;
    }

    .cards-como-funciona,
    .icone {
        margin-bottom: 20px;
    }

    #container-como-funciona>.cards-como-funciona:nth-child(3) {
        padding-bottom: 0px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 659px) {
    #right-frase {
        margin-right: 1.5rem;
    }
    .cards-como-funciona:last-of-type {
        padding-bottom: 100px;
    }

    .cards-como-funciona:last-child {
        padding-top: 90px;
    }
}

@media screen and (max-width: 845px) {
    #frase-protocolo h1{
        font-size: 20px;
    }
    .para-frase {
        height: 190px;
    }
    #resultados {
        font-size: 26px;
    }
    #conheca-frase {
        font-size: 16px;
    }
    #footer {
        display: grid;
    }

    #socias {
        padding-bottom: 40px;
    }

    #div-footer-email {
        margin-top: 1.5rem;
    }

    #div-footer-servicos {
        margin-top: 1rem;
    }

    #div-socias-texto {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 365px) {
    #container-para-pessoas {
        display: grid ;
    }
    .para-frase {
        height: 80px;
    }
    #frase-protocolo {
        margin-bottom: 2rem;
    }
    #resultados {
        font-size: 20px !important;
    }
    #conheca-frase {
        font-size: 15px !important;
    }
    #div-videos video {
        width: 80%;
    }

    .fotos {
        height: 250px !important;
    }

    #div-h1 h1 {
        font-size: 1.5rem;
    }

    #div-h1 {
        width: 90%;
    }

    #div-p {
        width: 90%;
    }

    #div-p p {
        font-size: 1.2rem;
    }

    #right-frase {
        width: auto;
    }
}
@media screen and (max-width: 300px) { 
    #botao-whatsap {
        width: 70%;
    }
    .div-image img{
        width: 100%;
    }
}